.bg_light{
background-color:#DAAD3E;

}


.full_btn{
margin-top:20%;
margin-left:10%;

}

.ion-padding{
background-colo:red;
}

.text_dash{
text-align:center;
color:#ADADAD;
}


.bar-positive{
background-color:#DAAD3E;
}

.footer_home{
height:50px;
width:50px;
}



.heading{
color:#8CB4CD;
text-align:center;
}

.submit-btn{
color:#8CB4CD;
text-align:center;
}

.select_option{
color:#9b9b9b;
}

.footer_width{
height:50px;
}

.footer_home{
height:30px;
width:30px;
}