

<ion-content>


<div class="container">
	<div class="container-fluid">
		<img class="mx-auto d-block mt-3 mb-5" src="/assets/icon/site-logo.png" alt="">
	</div>
	<div class="d-flex justify-content-center h-100 ">

		<div class="card">
			<div class="card-header">
				<h2>Sign up </h2>
				<div class="d-flex justify-content-end social_icon">
					<h1><i class="fab fa-facebook-square mr-2 fb"></i>
					<i class="fab fa-google-plus-square mr-2 gp"></i>
					<i class="fab fa-twitter-square mr-2 twitt"></i></h1>
				</div>
			</div>

			<div class="card-body">

				<form [formGroup]="SignupForm"  novalidate>

					<div class="input-group form-group">

						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<ion-input type="text" formControlName="username" class="form-control" placeholder="Username"
								   required></ion-input>

						<div *ngFor="let error of errorMessage.username">
							<ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>


					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<ion-input type="email" formControlName="email" class="form-control" placeholder="E-mail"
								   required></ion-input>


						<div *ngFor="let error of errorMessage.email">
							<ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-phone"></i></span>
						</div>
						<ion-input type="text" formControlName="mobile" class="form-control" placeholder="+91"
								   required></ion-input>


						<div *ngFor="let error of errorMessage.mobile">
							<ng-container *ngIf="mobile.hasError(error.type) && (mobile.dirty || mobile.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<ion-input type="text" formControlName="password" class="form-control" placeholder="password"
								   required></ion-input>


						<div *ngFor="let error of errorMessage.password">
							<ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
								<small class="error-message">{{error.message}}</small>
							</ng-container>
						</div>
					</div>

					<div class="form-group ">
						<ion-button [routerLink]="['/login']"  type="submit" class="btn float-right login_btn">Signup</ion-button>

<!--						relocate on ion-button -->
<!--						[disabled]="!SignupForm.valid"-->

					</div>
				</form>

			</div>

		</div>
	</div>
</div>


</ion-content>



