


<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent color="primary">

          <div class="show_menu">
            <h1> Menu</h1>
          </div>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>



  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
            <div class="show_menu">
              <h1> Count Magic</h1>
            </div>
      </ion-toolbar>
    </ion-header>

   <ion-content>

    <div>
        <div class="heading">
            <h1> Payment Bank Entry</h1>
        </div>

        <div>
            <form>
                <ion-row>
                    <ion-col size="12">
                        <ion-list inset>

                            <ion-item>
                                <ion-input type="text" name="fullname" placeholder="Holder name" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="text" name="fullname" placeholder="*Bank Name" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="text" name="fullname" placeholder="*Amount" required></ion-input>
                            </ion-item>

                            <ion-item class="select_option">
                                <ion-input type="date" placeholder="Date Format" name="date" required></ion-input>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row >

                    <ion-col size="12" class="submit-btn">
                            <ion-button  color="primary" fill="outline" shape="round" type="submit">Submit</ion-button>
                    </ion-col>

                </ion-row>

            </form>
        </div>
    </div>

</ion-content>

    <ion-footer >
      <ion-toolbar color="primary" class="footer_width">
        <ion-title>
          <ion-row>
            <ion-col size="12">
              <div>
                <a href="/dashboard">
                  <ion-icon class="footer_home" name="home" color="light"></ion-icon>
                </a>
              </div>
            </ion-col>

          </ion-row>


        </ion-title>
      </ion-toolbar>
    </ion-footer>

  </div>

</ion-app>


